<nav class="flex items-center justify-between  container pt-5">
  <div class="flex items-center  gap-2">
    <h1 class="text-white font-bold">App Flight<span class="text-secondary">!!</span></h1>
     <img [src]="'assets/imgs/avion.png'" [width]="50" height="50">
  </div>
  <div class="flex items-center gap-2 pt-2 pb-3">
    <button class="px-2 py-2 rounded-full text-white font-bold text-lg bg-secondary">Iniciar Sesion</button>

  <div class="flex items-center gap-3 pt-1">
    <button class="px-2 py-2 rounded-full text-white font-bold text-lg bg-secondary">Registrarse</button>
  </div>
  </div>
</nav>

