<footer>
<div class="grid grid-cols-2 gap-28 p-20">
  <div class="grid place-items-center mb-20 w-full pr-40">
    <div class="flex items-center gap-5">
      <a href="#" class="bg-secondary h-12 w-12  p-2 grid place-items-center rounded-md ">
        <img [src]="'assets/imgs/facebook.png'">
      </a>

      <a href="#" class="bg-secondary h-12 w-12  p-2 grid place-items-center rounded-md ">
        <img [src]="'assets/imgs/instagram.png'">
      </a>

      <a href="#" class="bg-secondary h-12 w-12  p-2 grid place-items-center rounded-md ">
        <img [src]="'assets/imgs/twitter.png'">
      </a>
    </div>
  </div>
    <div class="space-y-5 pr-10">
      <div class="flex gap-2 pl-60 pt-10">
        <img class="block h-8 w-auto" [src]="'assets/imgs/avion.png'">
        <h1 class="text-white font-bold text-3xl">App Fl<span class="text-secondary">ig</span>ht</h1>
      </div>
      <p class=" text-white leading-loose tracking-wide  w-full text-justify">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente dicta doloribus tenetur incidunt eaque quas
        pariatur impedit voluptatum hic, accusantium facilis a quasi</p>
        <div class="flex items-center">
        <span><img class="w-12" [src]="'assets/imgs/correo.png'"></span>
        <p class="text-white leading-loose tracking-wide  w-full text-justify -mt-4 ml-3">provident consectetur cupiditate vitae veniam
          adipisci itaque.</p>
        </div>
    </div>
</div>
</footer>
